h1 {
    color: aliceblue;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: blanchedalmond;
}
td {
    background-color: burlywood;
    border: solid 1px rgb(85, 177, 54);
    width: 200px;
    height: 50px;
    text-align: center; /* Vízszintes középre igazítás */
    vertical-align: middle; /* Függőleges középre igazítás */
}

body { 
    background-image: url('https://cdn.mos.cms.futurecdn.net/9QTpESGBXa32D29J77VR3d-1200-80.jpg');
    background-size: cover;
}
